@model Survey.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
          /*  background-color: #f8f9fa;*/
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 400px;
            overflow: hidden;
        }

        h2 {
            color: #3853a8;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center mb-4">Change Password</h2>
        <div id="Messagediv">
            @{
                if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
                if (ViewBag.ErrorMessage2 != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.ErrorMessage2
                    </div>
                }
            }


        </div>

        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
        {
            <form>
                <div class="form-group">
                    @*<input type="password" class="form-control" placeholder="Current Password" required>*@
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger", @style = "color:red; margin-left:4%;font-size:15px;" })
                    @Html.TextBoxFor(m => m.OldPassword, new { autocomplete = "off", @class = "form-control", @placeholder = "Current Password", maxlength = "25", @id = "OLDPassword", Type = "Password" })

                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger", @style = "color:red; margin-left:4%;font-size:15px;" })
                    @Html.TextBoxFor(m => m.NewPassword, new { autocomplete = "off", @class = "form-control", @placeholder = "New Password", maxlength = "25", @id = "NEWPassword", Type = "Password" })

                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(m => m.CFNewPassword, "", new { @class = "text-danger", @style = "color:red; margin-left:4%;font-size:15px;" })
                    @Html.TextBoxFor(m => m.CFNewPassword, new { autocomplete = "off", @class = "form-control", @placeholder = " Confirm New Password", maxlength = "25", @id = "CFNewPassword" })

                </div>
                <button type="submit" class="btn btn-primary btn-block" style=" background-color: #3853a8; color: white;">Change Password</button>
            </form>
        }
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

 
</body>
</html>



