@model Survey.Models.GetClDataListModel
@{
    ViewBag.Title = "GetClData";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<style>
    .checbocn {
        background: url(/images/but.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 100px;
        height: 100px;
    }

    .nonep {
        display: none;
    }

    /*#tbldocuments {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #tbldocuments td, #tbldocuments th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }*/

        #tbldocuments tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tbldocuments tr:hover {
            background-color: #ddd;
        }

        /*#tbldocuments th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #3853a8;
            color: white;
        }

    .danger {
        background-color: #f44336;
    }*/
        /* Red */
        /*.danger:hover {
            background: #da190b;
        }

    .info {
        background-color: #3853a8;
        color: white;
    }*/
        /* Blue */
        /*.info:hover {
            background-color: #3853a8;
            color: white;
        }*/

    .Delete {
        background-color: brown;
        color: white !important;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    a.EditTd {
        background: url(../Images/editun.png) no-repeat top left;
        display: block;
        width: 30px;
        height: 30px;
        color: navy;
        /*text-indent: -9999px;*/ /* hides the link text */
    }

    .EditTd1 {
        background-image: url(/Images/editu.png);
    }

  /*  .AddTraining {
        background-color: #3853a8;
        color: white;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        float: right;
    }

    .AddTrainingSearch {
        background-color: cornflowerblue;
        color: white;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }*/

    .AddTraining {
        background-color: #0296e0;
        color: white;
        display: inline-block;
        padding: 6px;
        width: 100%;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        float: right;
    }

    .AddTrainingSearch {
        background-color: #F05A53;
        color: white;
        margin-left: 10%;
        width: 100%;
        height: 35px;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }


    .dataTables_info {
        float: right !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: none;
        color: black !important;
        border-radius: 4px;
        border: 1px solid #828282;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: none;
        color: black !important;
    }

    .MobViewdisplay {
        display: none;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtserach').val('');
    });
</script>


<div class="form-horizontal" style="background-color:white;">
    <br />
    <div class="tab-content" style="background-color: white!important; border: none!important;    margin-top: 5px;">
        <div class="col-lg-12">
            <div class="col-lg-3" style="float:left;">
                <h3 style="color: #3853a8;">Project Dashboard</h3>
            </div>
            <div class="filter" style="float:left;">
                <h4 style="color: #3853a8;">Filter By</h4>
            </div>
            <div class="selectrole" style="float:left;margin-right:1%;margin-left:1%;">
                <select name="cate" id="RoleList" class="form-control">
                    <option value=" ">All</option>
                    <option value="Date">Date</option>
                    <option value="Project Name">Project Name</option>
                    <option value="Project Code">Project Code</option>
                    <option value="Client Name">Client Name</option>
                    <option value="Project Manager">Project Manager</option>
                    <option value="Project Engineer">Project Engineer</option>
                    <option value="Help Desk">Help Desk</option>
                    <option value="Solution Archetect">Solution Archetect</option>
                </select>
            </div>
            @{
                var Role = Session["Role"].ToString();
            }
            @*<div class="col-lg-4" style="float:left;display:inline-flex;">
            @Html.TextBoxFor(model => model.SearchBy, new { @class = "form-control", @maxlength = "80", @id = "txtserach", @placeholder = "Search by Project", onkeypress = "return NuberandChracter(event)", @style = "width:40%;" })
            <span id="error" style="color: Red; display: none">* Special Characters not allowed.</span>
        </div>
        <div class="col-lg-1">
            <a href="#" class="AddTrainingSearch " onclick="SearchRecords()" style="color: white; text-decoration: none;">
                <i class="fa fa-search" style="margin-top:4px;"></i>
            </a>
        </div>*@

            <div class="col-lg-5" style="float:left; display:flex; align-items: center;">
                @Html.TextBoxFor(model => model.SearchBy, new { @class = "form-control", @maxlength = "80", @id = "txtserach", @placeholder = "Search by Project", onkeypress = "return NuberandChracter(event)", @style = "width:70%;" })
                <div class="col-lg-1" style="margin-left: 5px;">
                    <a href="#" class="AddTrainingSearch" onclick="SearchRecords()" style="color: white; text-decoration: none;">
                        <i class="fa fa-search" style="margin-top:4px;"></i>
                    </a>
                </div>
            </div>
            <span id="error" style="color: Red; display: none; float: left; width: 100%;">* Special Characters not allowed.</span>

            @*<div class="col-lg-6" style="float:left;">
            @Html.TextBoxFor(model => model.SearchBy, new { @class = "form-control", @maxlength = "80", @id = "txtserach", @placeholder = "Search by Project", onkeypress = "return NuberandChracter(event)", @style = "width:40%;" })
            <span id="error" style="color: Red; display: none">* Special Characters not allowed.</span>

            <div class="col-lg-1" style="float:left;">
                <a href="#" class="AddTrainingSearch" id="searchbtn" onclick="SearchRecords()" style="color: white; text-decoration: none;">
                    <i class="fa fa-search" style="margin-top:4px;"></i>
                </a>
            </div>
        </div>*@
            @*<div class="col-lg-1" style="float:left;">
            <a href="#" class="AddTrainingSearch" id="searchbtn" onclick="SearchRecords()" style="color: white; text-decoration: none;">
              <i class="fa fa-search" style="margin-top:4px;"></i>
            </a>
        </div>*@
            <div style="float: right; margin-right: 10%;">
                @if (Role == "1")
                {
                    <a href="/ProjectSurvey/ProjectSurveyAssign" class="AddTraining" style="color: white; text-decoration: none;">
                        <span class="glyphicon glyphicon-search" id="AddBtn" style="margin-right: 5px;"></span>Add
                    </a>
                }
            </div>

            @*<div class="col-lg-2" style="float:left;">
            <span>
                <a href="@Url.Action("WareHouse","WareHouse")" class="AddTraining" style="color: white; text-decoration: none;">Add Warehouse Details</a>
            </span>
        </div>*@
            <br />

        </div>

        <br />
        <div id="DataGirdDiv">
            @Html.Partial("_PGetClData", Model)
        </div>
        @*</div>*@
    </div>

</div>






<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>


<script src="~/Content/assets/js/main.js"></script>
<script src="~/Content/src/jquery.flashy.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/assets/cssdatatable/jquery.dataTables.min.css" rel="stylesheet" />


<script>
            $(document).ready(function () {
                $('#tbldocuments').DataTable({
                    "pagingType": "full_numbers",
                    "oLanguage": {
                        "sLengthMenu": "Page Size: _MENU_"
                    },
                    columnDefs: [{ orderable: false, targets: [7,8,9,10,11,12,13,14,15,16] }],
                    "searching": false
                });

                $("#tbldocuments_info").detach().prependTo('#tbldocuments_wrapper');
                $("#tbldocuments_paginate").detach().prependTo('#tbldocuments_wrapper');
            });

    function SearchRecords() {
        var Search = $("#txtserach").val();
        var Selectedtype = document.getElementById("RoleList").value;
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("SearchBasedOnProject", "Questions")',
                    //data: '{Project: "' + $("#txtserach").val() + '"}',
                    data: '{Value: "' + Search + '",Filterby: "' + Selectedtype + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (data) {
                       $("#DataGirdDiv").show();
                        $("#DataGirdDiv").html(data);


                        $('#tbldocuments').DataTable({
                            "pagingType": "full_numbers",
                            "oLanguage": {
                                "sLengthMenu": "Page Size: _MENU_"
                            },
                            columnDefs: [{ orderable: false, targets: [7, 8, 9, 10, 11, 12, 13, 14, 15, 16]  }],
                            "searching": false
                        });

                        $("#tbldocuments_info").detach().prependTo('#tbldocuments_wrapper');
                        $("#tbldocuments_paginate").detach().prependTo('#tbldocuments_wrapper');
                    }
                });
            }
</script>

<style type="text/css">
    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        font-weight: bold !important;
        text-align: center !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        box-sizing: border-box !important;
        display: inline-block !important;
        min-width: 1.5em !important;
        cursor: pointer !important;
        color: #333 !important;
    }
</style>

<style>

    @@media(max-width: 575.98px) {
        .display {
            display: none;
        }

        .MobViewdisplay {
            display: block;
        }

        .AddTraining {
            margin-top: 5%;
            margin-left: 15px;
        }

        .col-lg-3 {
            margin-top: 5%;
        }

        .dataTables_wrapper .dataTables_info {
            margin-top: 6%;
        }
    }

    @@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

        #txtserach {
            margin-left: 5%;
            width: 80%;
        }

        .searchbtn {
            margin-left: 20%;
        }

    }
</style>





