@model Survey.Models.PMPEModel
@{
    ViewBag.Title = "SAPE";
    //Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="~/Css/Ratepagenew.css" rel="stylesheet" />


<h2 style="font-family: 'Times New Roman';text-align:center;"> Solution Architect Rating To Project Engineer</h2>

<div>
    <p style="float:left;font-size:2rem;font-family:'Times New Roman';">Project Name :@Model.RatingHeader.PS_ProjectName</p>
</div>
<br />
<br />
<div>
    <p style="float:left;font-size:2rem;font-family:'Times New Roman';">Rating From : <b id="Fromrating">@Model.RatingHeader.RatingFrom</b></p>
</div>

<div>
    <p style="float: right; font-size: 2rem; font-family: 'Times New Roman'; "> Rating To :@Model.RatingHeader.RatingTo</p><br />
</div>
<div id="PSId" style="display:none;">@Model.RatingHeader.PS_ID</div>
<div id="PRId" style="display:none;">@Model.RatingHeader.PR_ID</div>



<br />

<div>
    @if (Model.RatingHeader.SurveyStatus == false)
    {
        foreach (var x in Model.QuestionnaireLst)
        {
            <div>
                <br />
                <label>@x.Q_Questions</label><br />

                <div class="stars">
                    <form>
                        @*@Html.HiddenFor(m => m.Question_@x.QuestionID)
                            @Html.HiddenFor(m => m.Answer,@x.QuestionID)*@
                        <input class="star star5" id="star5-@x.QuestionID" type="radio" name="star" value="5-@x.QuestionID" onclick="ratingclick(5,1)" />
                        <label class="star star5" for="star5-@x.QuestionID"></label>
                        <input class="star star4" id="star4-@x.QuestionID" type="radio" name="star" value="4-@x.QuestionID" onclick="ratingclick(4,1)" />
                        <label class="star star4" for="star4-@x.QuestionID"></label>
                        <input class="star star3" id="star3-@x.QuestionID" type="radio" name="star" value="3-@x.QuestionID" onclick="ratingclick(3,1)" />
                        <label class="star star3" for="star3-@x.QuestionID"></label>
                        <input class="star star2" id="star2-@x.QuestionID" type="radio" name="star" value="2-@x.QuestionID" onclick="ratingclick(2,1)" />
                        <label class="star star2" for="star2-@x.QuestionID"></label>
                        <input class="star star1" id="star1-@x.QuestionID" type="radio" name="star" value="1-@x.QuestionID" onclick="ratingclick(1,1)" />
                        <label class="star star1" for="star1-@x.QuestionID"></label>
                    </form>
                </div>
            </div>
        }

        <div id="selectedratings" style="display:none;"></div>
        <button type="submit" id="submitRatings" class="btn btn-primary btn-lg" onclick="submitbtnclick()">Submit</button>
    }
    else
    {

        <div>
            <p style=" font-family: Algerian;text-align:center;font-size:30px;">Survey Already Completed!!</p>
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<script>
    $(document).ready(function () {

        $("#submitRatings").click(function () {

            var ratings = [];


            $('input[name="star"]:checked').each(function () {

                var ratingValue = $(this).val().split('-')[0];
                var questionID = $(this).val().split('-')[1];

                ratings.push({ Question: questionID, Answer: ratingValue });
            });

            var psId = $("#PSId").text();
            var prId = $("#PRId").text();
            var ratingFrom = $("#Fromrating").text();

            $.ajax({
                type: "POST",
                url: "/Questions/SAPE",
                data: {
                    ratings: ratings,
                    psId: psId,
                    prId: prId,
                    ratingFrom: ratingFrom
                },
                success: function (result) {
                    window.location.href = "/ProjectSurvey/ThankYou";
                },
                error: function (error) {

                    console.log(error);
                }
            });
        });
    });
</script>
