<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



<table id="tbldocuments1" class="DeskQues">
    <thead>
        <tr>
            <th>ID</th>
            <th>Template Name</th>           
            <th>Email Body</th>       
            <th>Status </th>
            <th>Edit</th>

        </tr>

    </thead>

    <tbody>
        @foreach (var x in Model.lstEmailTemplate)
        {
            <tr>
                <td>@x.TemplateId</td>
                <td>@x.TemplateName</td>              
                <td>@x.Body_Content</td>                
                <td>
                    @if (@x.TemplateActiveStatus == true)
                    {
                        <img src="~/images/icons/Compeleted.png" style="width: 25px;" />
                    }
                    else
                    {
                        <img src="~/images/icons/incompleted.png" style="width: 25px;" />
                    }
                </td>
                <td><i style='font-size:24px' class='far' onclick="EditEmailTemplate(@x.TemplateId)">&#xf044;</i></td>
            </tr>

        }

    </tbody>
</table>


<table id="tbldocuments1" class="MobQues">
    @foreach (var x in Model.lstEmailTemplate)
    {
        <tr>
            <th>ID</th>
            <td>@x.TemplateId</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>@x.TemplateName</td>
        </tr>
        <tr>
            <th>Questions</th>
            <td>@x.Body_Content</td>
        </tr>     
        <tr>
            <th>Status </th>
            <td>
                @if (@x.TemplateActiveStatus == true)
                {
                    <img src="~/images/icons/Compeleted.png" style="width: 25px;" />
                }
                else
                {
                    <img src="~/images/icons/incompleted.png" style="width: 25px;" />
                }
            </td>
        </tr>
        <tr>
            <th>Edit</th>
            <td><i style='font-size:24px' class='far' onclick="EditQustionDashboard(@x.TemplateId)">&#xf044;</i></td>
        </tr>
        <tr>
            <th> </th>
            <td>
                &nbsp;
            </td>
        </tr>
    }

</table>


<script type="text/javascript">

    function EditEmailTemplate(TemplateId) {
           var link = '@Url.Action("EditEmailTemplate", "ProjectSurvey", new { TemplateId = "replace", Mode = "Modes" })';
        link = link.replace("replace", TemplateId);
        link = link.replace("Modes", "Edit");
         window.location.href = link.replace(/&amp;/g, '&');

    }

</script>


<style>
    table {
        border-collapse: collapse;
        width: 100%;
        font-family: "Gill Sans", sans-serif;
        font-size: 12px;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: darkgray;
        color: black;
    }

    td {
        font-weight: 400;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
