<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



<table id="tbldocuments1" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Questions</th>
            <th>Status </th>
            <th>Edit</th>

        </tr>

    </thead>

    <tbody>
        @foreach (var x in Model.objQuestionsForm)
        {
            <tr>
                <td>@x.Q_ID</td>
                <td>@x.Q_Type</td>
                <td>@x.Q_Question</td>
                <td>@x.Q_Status</td>
                <td><i style='font-size:24px' class='far' onclick="EditQustionDashboard(@x.Q_ID)">&#xf044;</i></td>
            </tr>

        }

    </tbody>
</table>

<script type="text/javascript">

    

    function EditQustionDashboard(Q_ID) {
           var link = '@Url.Action("EditQuestion", "Questions", new { Q_ID = "replace", Mode = "Modes" })';
         link = link.replace("replace", Q_ID);
        link = link.replace("Modes", "Edit");
         window.location.href = link.replace(/&amp;/g, '&');

    }

</script>

