@model Survey.Models.AssignSurveyMasterModel

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<table id="tbldocuments" class="DeskFeed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Description</th>
            <th>response</th>
            <th>Edit</th>
            @*<th>User Role</th>
                <th>Depot</th>
                <th>Reset Password</th>
                <th>Status</th>
                <th>Edit</th>*@
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model.LstFbModel)
        {
            <tr>
                <td>@x.FD_Name</td>
                <td>@x.FD_Date</td>
                <td>@x.FD_Subject</td>
                <td>@x.FD_Description</td>
                <td>@x.FD_Response</td>
                <td>

                    @if (x.FD_Status)
                    {
                    <img src="~/images/icons/Compeleted.png" style="width: 25px;" />
                    }
                    else
                    {
                        <i style='font-size:24px' class='far' onclick="EditFBDashboard(@x.FD_ID)">&#xf044;</i>
                    }
                </td>@*<i style='font-size:24px' class='far' onclick="EditFBDashboard(@x.FD_ID)">&#xf044;</i></td>*@
            </tr>

        }

    </tbody>
</table>

<table id="tbldocuments" class="MobFeed">

    @foreach (var x in Model.LstFbModel)
    {
        <tr>
            <th>Name</th>
            <td>@x.FD_Name</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>@x.FD_Date</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>@x.FD_Subject</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@x.FD_Description</td>
        </tr>
        <tr>
            <th>response</th>
            <td>@x.FD_Response</td>
        </tr>
        <tr>
            <th>Edit</th>
            <td><i style='font-size:24px' class='far' onclick="EditFBDashboard(@x.FD_ID)">&#xf044;</i></td>
        </tr>
        <tr>
            <th> </th>
            <td>
                &nbsp;
            </td>
        </tr>
    }


</table>

<script type="text/javascript">

    function resetdata(x) {

        //alert(x);
        var result = confirm("Are you sure you want to Reset the Password");
        if (result) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("Resertpassword", "User")',
                data: '{ID: "' + x + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {

                }
            });
          }
    }

    function EditFBDashboard(FD_ID) {
      /*  alert(FD_ID);*/
           var link = '@Url.Action("EditFeedback", "FeedBack", new { FD_ID = "replace", Mode = "Modes" })';
        link = link.replace("replace", FD_ID);
        link = link.replace("Modes", "Edit");
         window.location.href = link.replace(/&amp;/g, '&');

    }

</script>

