@model Survey.Models.ProjectSurveyModel

@{
    ViewBag.Title = "ProjectSurveyAssign";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<h2>Assign Project Survey </h2>

@using (Html.BeginForm("ProjectSurveyAssign", "ProjectSurvey", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <button type="button" class="btn btn-primary" style="float:right;" id="backtodashboard" onclick="location.href = '@Url.Action("GetCLData", "Questions")';">
            Back To Dashboard
        </button>
        <br />
        <hr />
        <div>
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <form control="" class="form-group">

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_ProjectCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_ProjectCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_ProjectCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_ClientName, new { htmlAttributes = new { @class = "form-control", id = "PS_ClientName" } })
                        @Html.ValidationMessageFor(model => model.PS_ClientName, "", new { @class = "text-danger" })
                    </div>

                    <p id="suggestion-container" class="form-control" style="display:none; width:30%;">

                    </p>
                    <div id="dropdownContainer" style="display:none;"></div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_Client_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_Client_Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_Client_Email, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.PS_PM_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_PM_Name, new { htmlAttributes = new { @class = "form-control", id = "PS_PM_Name" } })
                        @Html.ValidationMessageFor(model => model.PS_PM_Name, "", new { @class = "text-danger" })
                    </div>
                    <p id="suggestion-containerpm" class="form-control" style="display:none; width:30%;">

                    </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_PM_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_PM_Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_PM_Email, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.PS_PE_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_PE_Name, new { htmlAttributes = new { @class = "form-control", id = "PS_PE_Name" } })
                        @Html.ValidationMessageFor(model => model.PS_PE_Name, "", new { @class = "text-danger" })
                    </div>
                    <p id="suggestion-containerpe" class="form-control" style="display: none; width: 30%;">

                    </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_PE_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_PE_Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_PE_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_HD_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_HD_Name, new { htmlAttributes = new { @class = "form-control", id = "PS_HD_Name" } })
                        @Html.ValidationMessageFor(model => model.PS_HD_Name, "", new { @class = "text-danger" })
                    </div>
                    <p id="suggestion-containerhd" class="form-control" style="display: none; width: 30%;">

                    </p>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PS_HD_Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PS_HD_Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PS_HD_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PS_ClientName').keyup(function () {
            var inputVal = $(this).val();
            var URid = "4";
            var arraylist = "";
            if (inputVal.length == "0") {
                $('#PS_Client_Email').val('');
                $('#suggestion-container').html(''); // Clear the suggestion container if input is empty
                $('#suggestion-container').hide();
            }

            if (inputVal.length) {
                $.get('@Url.Action("GetSuggestions", "ProjectSurvey")', { input: inputVal, URid: URid }, function (data) {
                    var suggestionOptions = '';
                    $.each(data, function (index, value) {
                        suggestionOptions += '<span class="suggestion-item" style="cursor: pointer">' + value + '</span><br>'; // Append clickable option to the suggestion container
                    });

                    // Appending the suggestions to the designated container
                    $('#suggestion-container').html(suggestionOptions);
                    $('#suggestion-container').show();

                    // Adding event listener for suggestion item click
                    $('.suggestion-item').on('click', function () {
                        var selectedValue = $(this).text();
                        $('#PS_ClientName').val(selectedValue);
                        $.get('@Url.Action("GetClientEmail", "ProjectSurvey")', { clientName: selectedValue },
                            function (data) {
                                $('#PS_Client_Email').val(data);
                            });
                        $('#suggestion-container').hide(); // Hide the suggestion container after selecting a value
                    });
                });
            }
        });

        // Event listener for clearing the suggestion container when input is empty
        $('#PS_ClientName').keyup(function () {
            if ($(this).val() === '') {
                $('#suggestion-container').html('');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#PS_PM_Name').keyup(function () {
            var inputVal = $(this).val();
            var URid = "2";
            var arraylist = "";
            if (inputVal.length == "0") {
                $('#PS_PM_Email').val('');
                $('#suggestion-containerpm').html(''); // Clear the suggestion container if input is empty
                $('#suggestion-containerpm').hide();
            }

            if (inputVal.length) {
                $.get('@Url.Action("GetSuggestions", "ProjectSurvey")', { input: inputVal, URid: URid }, function (data) {
                    var suggestionOptions = '';
                    $.each(data, function (index, value) {
                        suggestionOptions += '<span class="suggestion-item" style="cursor: pointer">' + value + '</span><br>'; // Append clickable option to the suggestion container
                    });

                    // Appending the suggestions to the designated container
                    $('#suggestion-containerpm').html(suggestionOptions);
                    $('#suggestion-containerpm').show();

                    // Adding event listener for suggestion item click
                    $('.suggestion-item').on('click', function () {
                        var selectedValue = $(this).text();
                        $('#PS_PM_Name').val(selectedValue);
                        $.get('@Url.Action("GetClientEmail", "ProjectSurvey")', { clientName: selectedValue },
                            function (data) {
                                $('#PS_PM_Email').val(data);
                            });
                        $('#suggestion-containerpm').hide(); // Hide the suggestion container after selecting a value
                    });
                });
            }
        });

        // Event listener for clearing the suggestion container when input is empty
        $('#PS_PM_Name').keyup(function () {
            if ($(this).val() === '') {
                $('#suggestion-containepm').html('');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#PS_PE_Name').keyup(function () {
            var inputVal = $(this).val();
            var URid = "3";
            var arraylist = "";
            if (inputVal.length == "0") {
                $('#PS_PE_Email').val('');
                $('#suggestion-containerpe').html(''); // Clear the suggestion container if input is empty
                $('#suggestion-containerpe').hide();
            }

            if (inputVal.length) {
                $.get('@Url.Action("GetSuggestions", "ProjectSurvey")', { input: inputVal, URid: URid }, function (data) {
                    var suggestionOptions = '';
                    $.each(data, function (index, value) {
                        suggestionOptions += '<span class="suggestion-item" style="cursor: pointer">' + value + '</span><br>'; // Append clickable option to the suggestion container
                    });

                    // Appending the suggestions to the designated container
                    $('#suggestion-containerpe').html(suggestionOptions);
                    $('#suggestion-containerpe').show();

                    // Adding event listener for suggestion item click
                    $('.suggestion-item').on('click', function () {
                        var selectedValue = $(this).text();
                        $('#PS_PE_Name').val(selectedValue);
                        $.get('@Url.Action("GetClientEmail", "ProjectSurvey")', { clientName: selectedValue },
                            function (data) {
                                $('#PS_PE_Email').val(data);
                            });
                        $('#suggestion-containerpe').hide(); // Hide the suggestion container after selecting a value
                    });
                });
            }
        });

        // Event listener for clearing the suggestion container when input is empty
        $('#PS_PE_Email').keyup(function () {
            if ($(this).val() === '') {
                $('#suggestion-containepe').html('');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#PS_HD_Name').keyup(function () {
            var inputVal = $(this).val();
            var URid = "5";
            var arraylist = "";
            if (inputVal.length == "0") {
                $('#PS_HD_Email').val('');
                $('#suggestion-containerhd').html(''); // Clear the suggestion container if input is empty
                $('#suggestion-containerhd').hide();
            }

            if (inputVal.length) {
                $.get('@Url.Action("GetSuggestions", "ProjectSurvey")', { input: inputVal, URid: URid }, function (data) {
                    var suggestionOptions = '';
                    $.each(data, function (index, value) {
                        suggestionOptions += '<span class="suggestion-item" style="cursor: pointer">' + value + '</span><br>'; // Append clickable option to the suggestion container
                    });

                    // Appending the suggestions to the designated container
                    $('#suggestion-containerhd').html(suggestionOptions);
                    $('#suggestion-containerhd').show();

                    // Adding event listener for suggestion item click
                    $('.suggestion-item').on('click', function () {
                        var selectedValue = $(this).text();
                        $('#PS_HD_Name').val(selectedValue);
                        $.get('@Url.Action("GetClientEmail", "ProjectSurvey")', { clientName: selectedValue },
                            function (data) {
                                $('#PS_HD_Email').val(data);
                            });
                        $('#suggestion-containerhd').hide(); // Hide the suggestion container after selecting a value
                    });
                });
            }
        });

        // Event listener for clearing the suggestion container when input is empty
        $('#PS_HD_Email').keyup(function () {
            if ($(this).val() === '') {
                $('#suggestion-containerhd').html('');
            }
        });
    });
</script>